
@{
    ViewData["Title"] = "Login";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
                body {
                    font-family: Arial, Helvetica, sans-serif;
                    background-color: antiquewhite;
                }

                form {
                    border: 3px solid #f1f1f1;
                }

                input[type=text], input[type=password] {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    box-sizing: border-box;
                }

                button {
                    background-color: #4CAF50;
                    color: white;
                    padding: 14px 20px;
                    margin: 8px 0;
                    border: none;
                    cursor: pointer;
                    width: 100%;
                }

                    button:hover {
                        opacity: 0.8;
                    }

                .cancelbtn {
                    width: auto;
                    padding: 10px 18px;
                    background-color: #f44336;
                }

                /*.imgcontainer {
           width:auto;
          text-align: center;
          margin: 24px 0 12px 0;
        }*/

                img.avatar {
                    width: 40%;
                    border-radius: 50%;
                }

                .container {
                    padding: 16px;
                }

                span.psw {
                    float: right;
                    padding-top: 16px;
                }
                /*a.one:link, a.one:visited {
                    background-color: #f44336;
                    color: white;
                    padding: 14px 25px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                }

                a.one:hover, a.one:active {
                    background-color: red;
                }

                a.twe:link, a.twe:visited {
                    position: absolute;
                    right: 202px;
                    background-color: #008CBA;
                    color: white;
                    padding: 14px 25px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                }

                a.twe:hover, a.twe:active {
                    background-color: blue;
                }*/
        s {
            width:400px;
            height:250px;
            margin-top:10px;
            float:left;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-3 well">
                <div class="well">

                    <h2>Login Form</h2>
                    <form asp-contoller="Customer" asp-action="Login">
                        @*<div class="imgcontainer">*@

                        <img src="~/images/הורד.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
                        @*</div>*@

                        <div class="container-fluid">
                            <label for="uname"><b>Username</b></label>
                            <input type="text" placeholder="Enter Username" name="uname" required>

                            <label for="psw"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="psw" required>

                            <button type="submit">Login</button>
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> Remember me
                            </label>
                        </div>


                        @*<button type="button" class="cancelbtn">Cancel</button>*@
                        <a class="one" href="~/Products/ProductHome">Cancel</a>
                        <a class="twe" href="~/Customers/Register">Register</></a>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="s">
        <iframe src="https://www.youtube.com/embed/3bK7ZXlSw4E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

</body>
</html>










