@model IEnumerable<Shope.Models.Customer>
@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>

<head>
    <title>הרשמה</title>

    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {
            height: 750px
        }

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
  
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-3 sidenav">
                    <ul>
                        <li>
                            <br />
                            <br />
                            <h3>אנא הזן פרטים</h3>
                            <form asp-contoller="Customer" asp-action="Register">

                                <label for="email"><b>Email</b></label>
                                <input type="text" placeholder="Enter Email" name="email" required>

                                <label for="pssword"><b>Password</b></label>
                                <input type="password" placeholder="Enter Password" name="password" required>

                                <label for="psw-repeat"><b>Repeat Password</b></label>
                                <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

                                <label for="fname"><b>First Name</b></label>
                                <input type="text" placeholder="Enter f name" name="fname" required>

                                <label for="Lnam"><b>Last Name</b></label>
                                <input type="text" placeholder="Enter l name" name="Lnam" required><br />

                                <label for="city"><b>City</b></label><br />
                                <input type="text" placeholder="Enter city" name="city" required>

                                <label for="street"><b>Street</b></label>
                                <input type="text" placeholder="Enter street" name="street" required>

                                <label for="NumberHome"><b>Home Number</b></label>
                                <input type="text" placeholder="Enter home number" name="NumberHome" required>

                                <label>
                                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                                </label>

                                <div class="clearfix">
                                    <button type="button" class="cancelbtn">Cancel</button>
                                    <button type="submit" class="signupbtn">Sign Up</button>
                                </div>
                            </form>

                        </li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <h4><small>RECENT POSTS</small></h4>
                    <img src="~/images/טבעת 1.jpg" alt="Girl in a jacket" width="700" height="600">
                </div>
            </div>
        </div>
    </div>
</body>



