
@{
    ViewData["Title"] = "OrdersByUsers";
}

<h2>OrdersByUsers</h2>
<form asp-contoller="OrderAndProducts" asp-action="OrdersByUsers">
    <button type="submit" class="cancelbtn">kjhmv</button>
</form>

