
@{
    ViewData["Title"] = "new1";
}
<!DOCTYPE html>
<html>
<head>
    <title>Basic Elements</title>
</head>
<body>
    <p>This is a paragraph</p>
    <a href="http://www.kerenkalif.com" target="_blank">This is my site</a>
    <br /><br />
    <hr />
    <img src=http://www.kerenkalif.com/pictures/me_2016-11.jpg
         alt="Good picture of me :-)" width="200" />
</body>
</html>

