@model IEnumerable<Shope.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>

<head>
    <style>
        h1 {
            text-shadow: 5px 2px;
            color: goldenrod;
            font-size: 50px;
        }

        h2 {
            text-shadow: 5px 2px;
            color: darkgrey;
            font-size: 50px;
        }

        .twitter-share, .facebook-share {
            background: #fff;
            color: rgb(87, 207, 244);
            cursor: pointer;
            display: inline-table;
            padding: 1em 2em;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            background-color: cornflowerblue;
            color: white;
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: gray;
            color:black;
            text-align: center;
        }
        body {
            background-color: antiquewhite;
        }
    </style>

</head>
<body>

    <br />
    <br />
    <marquee>
        <p><h2>מלא מבצעים לרגל יום האישה אל תפסידו</h2></p>
    </marquee>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-3 well">
                <div class="well">
                    <p><a href="#">סנן</a></p>
                    <img src="~/images/הורד.jpg" class="img-circle" height="65" width="65" alt="Avatar">
                    <br />
                    <form asp-contoller="Product" asp-action="index">
                        <p>
                            שם המוצר:<input type="text" name="name" />
                            <input type="submit" value="חיפוש" />
                        </p>
                    </form>
                    <form asp-contoller="Product" asp-action="index">
                        <p>
                            ממחיר:<input type="number" min="0" step="50" name="price" />
                            <input type="submit" value="חיפוש" />
                            <br />
                        </p>
                    </form>
                    <form asp-contoller="Product" asp-action="index">
                        <p>
                            עד מחיר:<input type="number" min="100" step="50" name="OfThePrice" />
                            <input type="submit" value="חיפוש" />
                        </p>
                    </form>

                    <form asp-contoller="Product" asp-action="index">
                        <p>
                            בחר צבע<input type="text" name="color" />
                            <input type="submit" value="חיפוש" />
                        </p>
                    </form>
                    <br />
                    <br />
                    <span class="twitter-share" data-js="twitter-share">Share on Twitter</span>


                    <br />
                    <br />
                    <span class="facebook-share" data-js="facebook-share">Share on Facebook</span>
                    <script>
                        var twitterShare = document.querySelector('[data-js="twitter-share"]');

                        twitterShare.onclick = function (e) {
                            e.preventDefault();
                            var twitterWindow = window.open('https://twitter.com/share?url=' + document.URL, 'twitter-popup', 'height=350,width=600');
                            if (twitterWindow.focus) { twitterWindow.focus(); }
                            return false;
                        }

                        var facebookShare = document.querySelector('[data-js="facebook-share"]');

                        facebookShare.onclick = function (e) {
                            e.preventDefault();
                            var facebookWindow = window.open('https://www.facebook.com/sharer/sharer.php?u=' + document.URL, 'facebook-popup', 'height=350,width=600');
                            if (facebookWindow.focus) { facebookWindow.focus(); }
                            return false;
                        }
                    </script>
                </div>
            </div>
            <br />
            <br />
            <br />
            <a href="http://images.saloona.co.il/opalik/files/2017/03/3evuby2icj60w2iz9qle.jpg" target="_blank">
                <img src="http://images.saloona.co.il/opalik/files/2017/03/3evuby2icj60w2iz9qle.jpg" alt="Alternate Text" style="width:850px;height:300px;">
            </a>
            <h1>המוצרים שלנו</h1>
            @foreach (var item in Model)
            {
                <div class="item col-lg-3 hvr-float-shadow">
                    <div class="thumbnail">
                        @*<div class="group list-group-image product-img" style="width:80px;height:200px;;background-image: url('@Html.DisplayFor(modelItem => item.image)')"></div>*@
                        <img class="img-responsive" src="@Html.DisplayFor(modelItem => item.Image)" style="width:200px;height:220px" target="_blank" />

                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">
                                <label>Name:</label>
                                @Html.DisplayFor(modelItem => item.TypeName)
                            </h4>

                            <p class="group inner list-group-item-text">
                                <label>Price:</label>$@Html.DisplayFor(modelItem => item.Price)
                            </p>
                            @{ var temp = item.Unit;
                                for (int i = 0; i < Global.CurrentCart.Products.Count(); i++)
                                {
                                    if (Global.CurrentCart.Products[i].Id == item.Id)
                                    {
                                        temp -= Global.CurrentCart.Products[i].Unit;
                                    }
                                }
                            }
                            <p class="group inner list-group-item-text">
                                <label>Unit:</label>@temp
                            </p>

                            <form asp-contoller="Product" asp-action="AddToCart">

                                <p hidden>
                                    <input type="number" name="productid" value="@Html.DisplayFor(modelItem => item.Id)" />
                                </p>
                                <input type="number" min="1" value="1" name="unit" />
                                <input type="submit" value="לפרטים ולרכישה" style="background-color:antiquewhite" />
                            </form>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Financial Markets</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
                "symbols": [
                    {
                        "title": "S&P 500",
                        "proName": "INDEX:SPX"
                    },
                    {
                        "title": "Shanghai Composite",
                        "proName": "INDEX:XLY0"
                    },
                    {
                        "title": "EUR/USD",
                        "proName": "FX_IDC:EURUSD"
                    },
                    {
                        "title": "BTC/USD",
                        "proName": "BITFINEX:BTCUSD"
                    },
                    {
                        "title": "ETH/USD",
                        "proName": "BITFINEX:ETHUSD"
                    }
                ],
                    "theme": "light",
                        "isTransparent": false,
                            "displayMode": "adaptive",
                                "locale": "en"
            }
        </script>
    </div>
    <!-- TradingView Widget END -->

    <div class="jumbotron text-center" style="margin-bottom:0">
        <a href="~/Products/cart"><h4>העגלה שלי</h4></a>
        <a href="~/Customers/Register"><h4>הרשמה</h4></a>
        <a href="~/Customers/Login"><h4>התחברות</h4></a>
        <a href="~/Home/Contact"><h4>אודות</h4></a>
    </div>
</body>





